ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 1000px;
    width: 200px;
    background-color: #f1f1f1;
}
li{
    width: 200px;
    height: 50px;
    background-color:#f1f1f1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    user-select: none;
}
li a:hover{
    background-color: rgb(90, 87, 87);
    color: white;
}
a
{
    display:block;
    width: 168px
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
/*以上为导航栏渲染*/